<!-- views/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usando o Express</title>
</head>

<body>
  <h1>Olá Bem Vindo!</h1>
  <p>Defina metas, objetivos, rotinas do dia a dia... muito mais que apenas tarefas</p>
  <p>...Carregando...Aguarde...</p>
</body>
</html>

