<!-- views/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usando o Express</title>
</head>

<body>
  <h1>Está funcionando!</h1>
  <p>Esta é a nossa página inicial servida através do Express.</p>
</body>

</html>

